/*
  Настройка тёмной темы при наличии класса .theme-dark
  или в случае предпочтения тёмной схемы
*/

:root.theme-dark {
  /* Переопределение переменных для тёмной темы */
  --bg-color: #000028;
  --text-color: #f1f1f1;
  --accent-color: #ff0070;
  --bg-image: url('./images/bg-dark.png');
}

/* Медиавыражение для системных преференций тёмного режима */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #f1f1f1;
    --accent-color: #ff0070;
    --bg-image: url('./images/bg-dark.png');
  }
}