/*
  Настройка светлой темы
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --bg-image: url('./images/bg-light.png');
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --bg-image: url('./images/bg-light.png');
  }

  .header__rec {
    display: none;
  }
}