/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  /* Dark theme colors */
  --bg-color: #000028;
  --text-color: #f1f1f1;
  --accent-color: #ff0070;
  --accent-color-dark: #ff0070;
  --link-shadow: 2px 2px 0 var(--accent-color);
  --title-shadow: 4px 4px 0 var(--accent-color);
  --decoration-color: #000028;
  --button-background: transparent;
  --button-border: 1px solid var(--accent-color);
  --button-color: var(--accent-color);
  --button-hover-background: var(--accent-color);
  --button-hover-color: var(--bg-color);
  --button-active-color: var(--bg-color);
  --button-active-background: var(--accent-color);
  --border-color: var(--accent-color);
  --bg-image: url('./images/bg-dark.png');
  
  /* Font sizes and spacing */
  --line-height: 1.3;
  --gap: 20px;
}